body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  font-family: 'FinFont', sans-serif;
}
/* thème sombre de base*/
:root {
  --bg-color: #182542;
  --text-color: #ffffff;
  --projett-color: #111a2e;
  --link-color: #37f7fd;
  --gradient-start: #c71e1e;
  --gradient-end: #37f7fd;
  --button-color: #11afb4;
}
/* thème clair */
.light-theme {
  --bg-color: #c8d0e6;
  --text-color: #182542;
  --projett-color: #a8c6ee;
  --link-color: #11afb4;
  --gradient-start: #08143b;
  --gradient-end: #37f7fd;
  --button-color: #11afb4;
}
#theme-toggle {
  width: 60px;
  height: 30px;
  background: #314c85;
  border-radius: 30px;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 5px;
  transition: background 0.3s ease;
}

#theme-toggle .icon {
  font-size: 18px;
  transition: transform 0.4s ease;
}
.light-theme #theme-toggle {
  justify-content: flex-end;
  background: #e0dede;
}

.light-theme #theme-toggle .icon {
  transform: rotate(360deg);
}


.dark-theme #theme-toggle .icon {
  transform: rotate(360deg);
}

/* policessss */
@font-face {
  font-family: 'BasicFont';
  src: url(fonts/BasicFont.ttf);
}

@font-face {
  font-family: 'FinFont';
  src: url(fonts/Roboto-ExtraLight.ttf);
}


/* header */
.header-content {
  text-align: center;
}
.header-content a {
  text-decoration: none;
  color: var(--text-color);
  height: fit-content;
}
.titlebox {
  display: flex;
  font-size: 30px;
  align-items: center;        /* centre verticalement */
  justify-content: center;    /* centre horizontalement */
  width: fit-content;         /* largeur juste suffisante pour le texte */
  height: fit-content;        /* hauteur juste suffisante */
  margin: 0 auto;             /* centre la boîte dans le parent */
  position: relative;
}

h1.title {
  margin: 0;                  /* supprime les marges par défaut */
  padding: 0;                 /* supprime padding */
  line-height: 1.1;           /* compacte verticalement si multi-line */
}




img.logo1,
img.logo2,
img.logo3,
img.logo4
{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  padding-bottom: 20px;
}
.logo1 {
  content: url('img/logo_applications/github.png'); /* image par défaut sombre */
  transition: 0.3s;
}

.light-theme .logo1 {
  content: url('img/logo_applications/github\ light.png'); /* image claire */
}

.logo2 {
  content: url('img/logo_applications/tiktok.png'); /* image par défaut sombre */
  transition: 0.3s;
}

.light-theme .logo2 {
  content: url('img/logo_applications/tiktok\ light.png'); /* image claire */
}

.logo3 {
  content: url('img/logo_applications/instagram.png'); /* image par défaut sombre */
  transition: 0.3s;
}

.light-theme .logo3 {
  content: url('img/logo_applications/instagram\ light.png'); /* image claire */
}

.logo4 {
  content: url('img/logo_applications/itchio.png'); /* image par défaut sombre */
  transition: 0.3s;
}

.light-theme .logo4 {
  content: url('img/logo_applications/itchio\ light.png'); /* image claire */
}
/* menu bangerrr */
nav.menu-nav {
  text-align: center;
  margin: 20px;
}
nav.menu-nav ul li.button,p.separation {
  font-size: 30px;
  list-style-type: none;
  display: inline-block;
  margin-left: 50px;
}
nav.menu-nav ul li.button a {
  text-decoration: none;
  color: var(--text-color);
}

.button {
  font-size: 30px;
  position: relative;
  display: inline-block;
}

.button::after,
.button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.button::before {
  top: -5px;
  transform-origin: left;
}

.button:hover::after,
.button:hover::before {
  transform: scaleX(1);
}
/* liensss et texte accentué */
.link {
  position: relative;
  color: var(--link-color);
  text-decoration: none;
}
.accentuated {
  color: var(--link-color);
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: var(--link-color);
  transition: 0.3s;
}

.link:hover::after {
  width: 100%;
}



/* introduction de projets */
.intro {
  margin-top: 30px;
  background-color: var(--projett-color);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.introtext {
  text-align: center;
  color: var(--text-color);
  font-size: 25px;
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}



/* projets setingsssss */
.project {
  margin-top: 30px;
  background-color: var(--projett-color);
  width: 50%;
  padding: 10px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
}
.project-logo {
  width: 80px;
  border-radius: 5px;
}
.platform-icon {
  width: 15px;
  border-radius: 5px;
  margin-right: 4px;
}
.badge {
  border-radius: 20px;
  background-color: black;
  color: white;
  font-family: BasicFont, sans-serif;
  padding: 10px;
  margin-left: 20px;
}
.badges{
  display: inline-block;
}






/* bouton pour installer!!! */


.install-btn.color-1{
  display: inline-block;
  width: 200px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  background-size: 300% 100%;
  transition: background-position 0.4s ease-in-out, box-shadow 0.3s;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  margin-left: 297px;
}

.install-btn.color-2{
  display: inline-block;
  width: 200px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  background-size: 300% 100%;
  transition: background-position 0.4s ease-in-out, box-shadow 0.3s;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  margin-left: 250px;
}



/* état hover */
.install-btn:hover {
  background-position: 100% 0;
  box-shadow: 0 8px 22px rgba(0,0,0,0.12);
  transform: translateY(-2px);
}

/* variantes de couleur (utilise la classe .color-1 sur le bouton) */
.install-btn.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}
.install-btn.color-2 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}


/* reste des trucs des fenêtres des projets */



.title-and-logo {
  display: flex;
  align-items: center; 
  gap: 12px;        
  padding-top: 10px;
  padding-left: 10px;
}
.project-logo {
  display: block;
  width: 80px;
  height: auto;
}
.project-header h2 {
  margin: 0;
  line-height: 1;
}
.project-description {
  margin-top: 30px;
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.game-screenshot {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  margin-left: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}



/* bouton en savoir plus */
.en-savoir-plus {
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  font-size: 20px;
  padding: 10px 80px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 10px;
  margin-left: 140px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.en-savoir-plus:hover {
  background-color: black;
}

.en-savoir-plus span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: padding-right 0.3s ease;
}

.en-savoir-plus span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(100px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(.68,-0.55,.27,1.55),
              opacity 0.3s ease;
  width: 20px;
  height: 20px;
  background-image: url("img/plus.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.en-savoir-plus:hover span {
  padding-right: 45px;
}

.en-savoir-plus:hover span:after {
  opacity: 1;
  transform: translateY(-50%) translateX(10px);
}



/* bouton code source github */
.code-source-github {
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 60px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 10px;
  margin-left: 60px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.code-source-github:hover {
  background-color: black;
}

.code-source-github span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: padding-right 0.3s ease;
}

.code-source-github span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(100px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(.68,-0.55,.27,1.55),
              opacity 0.3s ease;
  width: 20px;
  height: 20px;
  background-image: url("img/logo_applications/github.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.code-source-github:hover span {
  padding-right: 45px;
}

.code-source-github:hover span:after {
  opacity: 1;
  transform: translateY(-50%) translateX(10px);
}


/* bouton lien itchio */
.lien-itchio {
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 75px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 10px;
  margin-left: 60px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.lien-itchio:hover {
  background-color: black;
}

.lien-itchio span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: padding-right 0.3s ease;
}

.lien-itchio span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(100px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(.68,-0.55,.27,1.55),
              opacity 0.3s ease;
  width: 20px;
  height: 20px;
  background-image: url("img/logo_applications/itchio.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.lien-itchio:hover span {
  padding-right: 45px;
}

.lien-itchio:hover span:after {
  opacity: 1;
  transform: translateY(-50%) translateX(10px);
}

/* footerrrrrr */
footer {
  text-align: center;
   font-family: BasicFont, sans-serif;
  color: var(--text-color);
  background-color: var(--projett-color);
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
